.contenedor-padre{
    display: flex;
}

.contenedor-tabla{
    border:  1px solid black;
    width: 50%;
    overflow-y: auto;
    height: 100vh;
}

.contenedor-formulario{
    border: 1px solid black;    
    width: 50%;
    height: 100vh;
}
