.contenedor-padre{
    display: flex;
    /* height: 100%; */
}

.contenedor-tabla{
    width: 50%;
    overflow-y: auto;
    height: 100vh;/*acá 80vh*/
}

.contenedor-formulario{ 
    width: 50%;
    height: 100vh;/*acá 80vh*/
}
