:root {
    --color-uno: #0A283F;
    --color-uno-b: #243d52;
    --color-dos: #8fafc7;
    --color-tres: #e6eaec;
    --font: sans-serif;
    --color-cuatro: #2e2e3f;
    --color-cinco: #d4dfeb;
    
}

*{
    box-sizing: border-box;
    font-family: var(--font);
}


.form-registro-venta_section-head_head{
    display: flex;
    width: 100%;
    background-color: var(--color-cuatro);

}

.form-registro-venta h2{
    padding: 8px;
    width: 100%;
    text-align: center;
    color: var(--color-tres);
    /* margin-bottom: px; */
    
}





.contenedor-form-registro-venta{
   width: 100%;
   border: 3.2px solid var(--color-cuatro);
   border-radius: 4px;
   overflow: hidden;
}

.form-registro-venta{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around, Arial;

    border-radius: 50px;
}

.form-registro-venta_section-head{
    color: var(--color-tres);
    background-color: var(--color-uno-b);
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-registro-venta_section-head_item-uno{
    display: flex;
    flex-direction: column;
    /* background-color: burlywood; */
    width: 100%;
    align-items: center;
}

.form-registro-venta_section-head_item-uno_section, .form-registro-venta_section-head_item-dos_section{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px;
    margin: 4px;
}

.form-registro-venta_section-body{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.contenedor-registro-venta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-registro-venta_section-body_item-uno{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

/* .form-registro-venta_section-body_item-dos{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;;
} */


.form-registro-venta-buttons{
    display: flex;
    justify-content: flex-end;

    /* margin-right: 1em; */
}

.form-registro-venta-buttons button{
    padding: 0.2em;
    margin: 0.8em;
}

.form-registro-venta-total{
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-top: 8px;
}

.contenedor-registro-venta{
    border-bottom: solid 1px var(--color-uno-b);
    padding: 8px;
    background-color: var(--color-cinco);
}

input, select, label{
    padding: 0.1em;
    margin: 0.3em 0.6em;
}

input{
    outline: none;
    border:none;
    border-bottom: var(--color-dos) 1px solid;
    box-shadow: 0px 2px  5px var(--color-uno);
    /* border-radius: 4px; */
}


.form-registro-venta_section-footer{
    background-color: var(--color-uno-b);    
    font-family: var(--font);
    color: var(--color-tres);
    
}

.contenedor-link-ventas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.stock{
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgb(201, 42, 42);
}


.button-plus, .button-delete, .button-edit{
    border: none;
    background-color: rgb(67, 185, 67);
    background-color: rgb(136, 162, 219);
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-plus{
    background-color: teal;
    color: white;
}

.contenedor-dos-venta-registrada{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.input-small{
    width: 90px;
}

.butons-delete-edit{
    display: flex;
    width: 5%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

/* .button-agreagar{
    height: 1.8em;
    align-self: flex-end;
    margin-bottom: 1.5em;
} */


/* .font-color{
    color: var(--color-tres);
}

.labelVendedor{
    color: var(--color-tres);
    margin-right: 10px;
} */
/* label{
    font-weight:600;
    color: var(--color-uno-b);
} */

/* .form-registro-venta_section-body_item-dos_item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blue;
} */
.table tr{
    text-align: center;
}
.contenedor-table{
    overflow-y: auto;
}
.content-button-delete{
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
    /* visibility: hidden; */
}

thead{
    top: 0;
    position: sticky;
}