:root {
    --color-uno: #0A283F;
    --color-uno-b: #243d52;
    --color-dos: #8fafc7;
    --color-tres: #e6eaec;
    --font: sans-serif;
}

.table-head-sticky{
    top: 75px;
    position: sticky;
}

.datos-centrados{
    /* text-align: center; */
}

.table{
    background-color: white;

}

.table tr:nth-child(even){
    background-color: var(--color-tres) ;
}