:root {
    --color-uno: #0A283F;
    --color-uno-b: #243d52;
    --color-dos: #8fafc7;
    --color-tres: #e6eaec;
    --border: #3b9eeb; 
    --tama침o-fuente: 18px;
    --color-boton: lightblue;
}
* { 
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: var(--color-tres);
}
.titulo1{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/*se le estaba dando estilos al main y esto estaba afectando todas las p치ginas del sitio
Se corrige, dandole un nombre de clase al contenedor main en el maestro de productos
es aconcejable cambiar ese main por otra etiqueta*/
.contenedor-maestro-productos{
    width: 85%;
    padding: 30px;
    margin: auto;
}
.buscador{
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right; 
    font-size: var(--tama침o-font); 
}
.buscador button {
    margin: 0px 30px;
}
.buscador select,
.buscador input{
    padding: 0px 0px;
    margin: 0px;
    width: 40%;
}
.tabla-productos button{
    border-radius: 8px;
    font-size: 17px;
    width: 80%;
    align-items: center;
}
.tabla-productos thead {
    background-color: var(--color-uno-b);
    color: white;
    text-align: left;
    font-size: var(--tama침o-fuente);
}